.no-preview
{
    height: 309.75px;
    text-align: center;
    vertical-align: middle;
    line-height: 309.75px;
}

@media only screen and (max-width : 767px) {
    .no-preview {
        height: 346.97px;
    }
}


@media (min-width : 767px) and (max-width : 1000px) {
    .no-preview {
        height: 225.45px;
    }
}